#Configuation for ZKBackEnd service

##########################################################################
#zookeeper-server info

zkHostPort.1=localhost:2183
zkHostPort.2=localhost:2184
zkHostPort.3=localhost:2185
zkTimeOut=3000


##########################################################################
#working-path

vng.zingme.payment.pull.tranx.path=/vng/zingme/payment/pull/tranx

vng.zingme.payment.push.tranx.path=/vng/zingme/payment/push/tranx

vng.zingme.payment.bill.tranx.path=/vng/zingme/payment/bill/tranx


##########################################################################
#zkBackEnd-service info

zkBEPort=4118

#server-type: 1 for pull, 2 for push, 3 for bill, 0 for all (not implement yet)
zkBEServerType=3

##########################################################################
#listen-node

zkZMNodeStat=stat

##########################################################################
# Rejected duration time (10days)
rejected_duration_time = 864000

##########################################################################
#storage-service info

storageHost=localhost
storagePort=9702


##########################################################################
#latest-cache info

latestHost=localhost
latestPort=5121


##########################################################################
#accbal-cache info

accbalHost=localhost
accbalPort=5131

##########################################################################
#queue-info

#mapzk-queuesize
modelqueuesize=2097152

recyclezkqueuesize=1024
updatecachequeuesize=1024


##########################################################################
#in seconds
covermissinterval=5

##########################################################################
#num-extern-main-worker
externworkers=15


##########################################################################
#event - mode: 0 using watcher-event; else: using thrift (call one-way)
eventmode=1


##########################################################################
multithreads_mode=0


# Timeout configuration
signatureKey=4IUVwjb1R9OBP2W7EDSsByeECeznZtH+QoHImp+xD6Adkj9JryDclfAOf4wrGyo2
maxsize_timeout = 20
# 30 minutes
max_duration = 1800000
# 30 seconds
url_connetion_timeout = 30000

#Email
notification_email_list = nghitn@vng.com.vn,tunm@vng.com.vn
email_host=10.30.12.52
email_port=25