#Configuation for AccBalCache service

##########################################################################
#accbal-cache info

accbalPort=5131

#cache-size 1M
cachesize=4000000

zkHostPort.1=10.30.22.158:2183
zkHostPort.2=10.30.22.158:2184
zkHostPort.3=10.30.22.153:2185

##########################################################################
#working-path

vng.zingme.payment.pull.tranx.path=/vng/zingme/payment/pull/tranx

vng.zingme.payment.push.tranx.path=/vng/zingme/payment/push/tranx

vng.zingme.payment.bill.tranx.path=/vng/zingme/payment/bill/tranx


##########################################################################
#storage-service info

storageHost=10.30.22.153
storagePort=9702

##########################################################################
#event - mode: 0 using watcher-event; else: using thrift (call one-way)
eventmode=1

zkBEHost=10.30.22.158
zkBEPort=4118
