#Configuation for PaymentGateway service

##########################################################################
#PaymentGateway-service info

pgPort=6161

##########################################################################
#zkBackEnd-service info

zkBEHost=localhost
zkBEPort=4116


##########################################################################
#zookeeper-working-path

vng.zingme.payment.pull.tranx.path=/vng/zingme/payment/pull/tranx

vng.zingme.payment.push.tranx.path=/vng/zingme/payment/push/tranx

##########################################################################
#listen-node

zkZMNodeStat=stat

##########################################################################
#accbal-cache info

accbalHost=localhost
accbalPort=5131

TokenHost=localhost
TokenPort=7114

##########################################################################
latestHost=localhost
latestPort=5121

##########################################################################
zgenHost=10.30.22.135
zgenPort=9090
zgen-catalog=zingcredits

##########################################################################
n2idHost=10.30.12.13
n2idPort=9293

##########################################################################
adminHost=localhost
adminPort=10114

##########################################################################
id2nHost=10.30.12.13
id2nPort=9291
