#Configuration for Transaction service
##########################################################################



#Configuration for ZooService
##########################################################################
prefixTranxZoo = /test
prefixBalanceZoo = /btest
# Zoo Info
host_chrome = 10.30.56.50:2183,10.30.56.51:2184

#Config for Subsciber
#scribe_host = 10.30.12.155
#scribe_port = 1463