#Configuation for Banking Gateway service
##########################################################################
storage_host = 10.30.22.138
storage_port = 9778

# Scribe Info
scribe_host = 10.30.12.155
scribe_port = 1463

##########################################################################
# ESALE
ESALE_URL=http://10.30.8.221/Staging/eSaleAPIv2/ConfirmOrderBankService.asmx
sha1_shared_key=eSale@123
esale_redirect_url=https://esale2.zing.vn/thank.php?

##########################################################################
# HDBank
# URL
HDBank_url=http://118.69.222.207:8088/ZION/services/OnlinePayment

# shared key 3 des
sharedkey = 1,2,3,5,7,11,13,17,18,17,13,11,7,2,4,8,1,2,3,5,7,11,13,17
sharedvector = 1,2,3,5,7,11,13,17
