#Configuation for Banking Gateway service
##########################################################################
storage_host = 10.30.56.52
storage_port = 9778

# Scribe Info
scribe_host = 10.30.22.60
scribe_port = 1463

##########################################################################
# ESALE 
ESALE_URL=http://10.30.8.224/eSaleAPIv2/ConfirmOrderBankService.asmx
sha1_shared_key=Unhjunasd!#$!#jda123
esale_redirect_url=https://esale.zing.vn/thank.php?

##########################################################################
# HDBank
# URL
HDBank_url=http://10.0.119.7:6789/ZION/services/OnlinePayment

# shared key 3 des
sharedkey = 9,7,3,5,7,11,6,17,9,17,12,11,7,2,4,8,1,5,4,5,7,4,13,8
sharedvector = 9,2,7,5,7,11,14,17