#Configuation for PaymentGateway service

##########################################################################
#PaymentGateway-service info

pgPort=6161
workerThreads = 20

##########################################################################
#zkBackEnd-service info

zkBEHost=localhost
zkBEPort=4116


##########################################################################
#zookeeper-working-path

vng.zingme.payment.pull.tranx.path=/vng/zingme/payment/pull/tranx

vng.zingme.payment.push.tranx.path=/vng/zingme/payment/push/tranx

##########################################################################
#listen-node

zkZMNodeStat=stat

##########################################################################
#accbal-cache info

accbalHost=localhost
accbalPort=5131

TokenHost=localhost
TokenPort=7114

##########################################################################
latestHost=localhost
latestPort=5121
