#Configuation for PaymentAdmin service

##########################################################################
#PaymentAdmin-service info

adminPort=10118


##########################################################################
#admin - key
adminkey=zjn9cr3djt5k3y
admink=@dmjn5j9

##########################################################################
#accbal-cache info

accbalHost=10.30.22.158
accbalPort=5131

##########################################################################
zgenHost=10.30.22.158
zgenPort=9090
zgen-catalog=zingcredits

##########################################################################
n2idHost=10.30.12.13
n2idPort=9293

##########################################################################
#storage-service info

storageHost=10.30.22.153
storagePort=9702


##########################################################################
#latest-cache info

latestHost=10.30.22.158
latestPort=5121

##########################################################################
id2nHost=10.30.12.13
id2nPort=9291

##########################################################################
stdprofileHost=10.30.22.173
stdprofilePort=9281
stdprofileAuth=9EpNVY
stdprofileSource=credits
