#Configuation for PaymentReport service

##########################################################################
#PaymentReport-service info

reportPort=10116

##########################################################################
#triggerTime=15800000

exportOld=1

##########################################################################
appHost=10.30.22.153
appPort=10114

##########################################################################
adminHost=10.30.22.153
adminPort=10114
