#Configuation for PaymentGateway service

##########################################################################
#PaymentGateway-service info

pgPort=6161

##########################################################################
#zkBackEnd-service info

zkBEHost=10.30.22.135
zkBEPort=4116


##########################################################################
#zookeeper-working-path

vng.zingme.payment.pull.tranx.path=/vng/zingme/payment/pull/tranx

vng.zingme.payment.push.tranx.path=/vng/zingme/payment/push/tranx

##########################################################################
#listen-node

zkZMNodeStat=stat

##########################################################################
#accbal-cache info

accbalHost=10.30.22.135
accbalPort=5131

TokenHost=10.30.22.138
TokenPort=7114

##########################################################################
latestHost=10.30.22.135
latestPort=5121

##########################################################################
zgenHost=10.30.22.135
zgenPort=9090
zgen-catalog=zingcredits

##########################################################################
n2idHost=10.30.12.13
n2idPort=9293

##########################################################################
adminHost=10.30.22.138
adminPort=10114
