#Configuation for PaymentAppsService service

##########################################################################
#PaymentAppsService info

appservicePort=10114


##########################################################################
#admin - key
adminkey=zjn9cr3djt5k3y
admink=@dmjn5j9

##########################################################################
appinfo-cachesize=500

##########################################################################
game-key-lent=32



