#Configuation for Banking Gateway service
##########################################################################
storage_host = 10.30.56.52
storage_port = 9778

# Scribe Info
scribe_host = 10.30.22.60
scribe_port = 1463

##########################################################################
# ESALE 
ESALE_URL=http://10.30.8.224/eSaleAPIv2/ConfirmOrderBankService.asmx
sha1_shared_key=Unhjunasd!#$!#jda123
esale_redirect_url=https://esale.zing.vn/thank.php?

##########################################################################
# BIDV_123PayBank
PassCode     = ESALE@Passcode