#Configuation for PaymentGateway web service

##########################################################################
#zkBackEnd-service info

zkBEHost=localhost
zkBEPort=4116

##########################################################################
#zookeeper-server info

zkHostPort.1=localhost:2183
zkHostPort.2=localhost:2184
zkHostPort.3=localhost:2185
zkTimeOut=3000

##########################################################################
#zookeeper-working-path

vng.zingme.payment.pull.tranx.path=/vng/zingme/payment/pull/tranx

vng.zingme.payment.push.tranx.path=/vng/zingme/payment/push/tranx


##########################################################################
#listen-node

zkZMNodeStat=stat


##########################################################################
#event - mode: 0 using watcher-event; else: using thrift (call one-way)
eventmode=1

##########################################################################
#accbal-cache info

accbalHost=localhost
accbalPort=5131

##########################################################################
latestHost=localhost
latestPort=5121

##########################################################################
zgenHost=10.30.22.135
zgenPort=9090
zgen-catalog=zingcredits

##########################################################################
n2idHost=10.30.12.13
n2idPort=9293

##########################################################################
adminHost=localhost
adminPort=10114

##########################################################################
id2nHost=10.30.12.13
id2nPort=9291

##########################################################################
memHost=localhost
memPort=11212

